@function get-color() {
  @return red;
}

div {
  $number1: 100px !global;
  $number2: $number1 * 2 !global;
  $color: get-color() !global;
  $list: 1px solid black !global;
  $listComma: tahoma, arial !global;
  $string: 'string' !global;
  $boolean: true !global;
  $null: null !global;
  $map: (
    number: 2em,
    string: 'mapstring',
  ) !global;
}
