@function get-color() {
  @return red;
}

$number1: 100px;
$number2: $number1 * 2;
$color: get-color();
$list: 1px solid black;
$listComma: tahoma, arial;
$string: 'string';
$boolean: true;
$null: null;
$map: (
  number: 2em,
  string: 'mapstring',
);
