// Test $number1: black;
$number1: 100px;
$number2: $number1 * 2; // Comment
$color: red;
/* $list: 1px solid black;
$listComma: tahoma, arial;
$string: 'string';
$map: (
  number: 2em,
  // blah
  string: 'mapstring'
); */

// $test: 250px;
