@import './include/functions.scss';

$foo: func1();

$foo: func-that-overrides();
$foo: func-with-default();

$foo: func-default();
$foo: func-not-default();

$foo: func-other-default-1();
$foo: func-other-default-2();

$foo: func-multiple-default-1();
$foo: func-multiple-default-2();

$someOtherDefault: 3;
$someDefault: 'b' !default;
