@import './include/mixins.scss';

@include mixin1;

@include mixin-that-overrides;
@include mixin-with-default;

@include mixin-default;
@include mixin-not-default;

@include mixin-other-default-1;
@include mixin-other-default-2;

@include mixin-multiple-default-1;
@include mixin-multiple-default-2;

$someOtherDefault: 3;
$someDefault: 'b' !default;
