// Default gray
$_colorGray: #666;
/* Default light gray */
$_colorLightGray: #eee;
// Default gray for buttons
$_colorButtonGray: #656666;
/* Default red */
$_colorRed: #e74327;
// Default color for strokes
$colorStroke: #dedada;
